body{
    margin: 0px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    width: 200px;
    font-size: 30px;
    border-style: solid;
    padding: 10px
}

.header-right{
    width: 100px;
    font-size: 30px;
    border-style: solid;
    padding: 10px
}

.navbar{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    border-style: double;
}

.navbar a,
.footer-right a,
.header-right a{
    color: black;
    text-decoration: none;
}

.main-body,
.author,
p{
    display: flex;
    margin: 10px 15% 10px 15%;
    justify-content: space-between;
}

.heading {
    margin-top: 10px;
    text-align: center;
    font-size: 60px;
    border-style: solid;
}

.author{
    font-size: 25px;

}

.author-right{
    display: flex;
    justify-content: space-between;
}

.author-left{
    padding: 7px;
}

.facebook, .twitter, .share{
    margin-right: 10px;
    padding: 5px;
    border: 2px;
    border-style: solid;

}

.image{
    margin: 10px 15% 10px 15%;
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.paragraphs{
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.lists-left{
    align-items: flex-start;
    text-align: left;
    justify-content: center;

}

.lists-right{
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    padding-top: 57px;
}

.lists{
    display: flex;
    margin: 10px 15% 10px 15%;
    border: 1px solid black;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    justify-content: space-around;
}

.lists a:hover {
    background-color: coral;
}

.logo{
    border-style: solid;
    padding: 5px;
}

.footer{
    display: flex;
    justify-content: space-between;

}

.footer-left{
    align-items: flex-start;
}

.footer-right{
    font-size: 20px;
    list-style-type: none;
    float: right;
    display: flex;
    text-align: center;
}

.list-right{
    padding: 10px;
}

a:hover{
    color: white;
    background-color: green;
}

.header-right a:hover{
    transition: background-color 0.5s;
    background-color: red;
    opacity: .6;
}
